<div>
  <h1>Collections</h1>

  <ul>
    {% for collection in collections %}
      {% unless collection.handle == 'frontpage' %}
        <li>
          <a href="{{ collection.url }}">{{ collection.title }}</a>
        </li>
      {% endunless %}
    {% else %}
      <li>No collections found.</li>
    {% endfor %}
  </ul>
</div>

{% schema %}
{
  "name": "Collection List",
  "settings": []
}
{% endschema %}
